::selection {background-color: rgb(0,255,0); color: #fff;}

* {
    box-sizing: border-box;
}

html, body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Segoe UI, Segoe UI Symbol;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    color: rgb(0,255,0);
}

.cover-bg:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0,0,0,1);
    pointer-events: none;
    opacity: .8;
}

/* Content */
.content {
    position: relative;
    width: 60%;
    height: 450px;
    background:  transparent;
    /* background:  #000; */
    margin: 0 auto;
    top: 17%;
    border-radius: 7px;
}
.content .left {
    float: left;
    width: 55%;
    height: 450px;
    background: transparent;
}
.content .right {
    float: right;
    text-align: center;
    width: 40%;
    height: 450px;
    background: transparent;
    border-left: 2px solid #fff;
    
}
img.logo {
    margin-top: 40px;
    right: 50px;
    width: 100%;
}
.button {
    font-size: 18px;
    padding: 10px;
    width: 80%;
    background: transparent;
    border-radius: 50px;
    transition: .3s;
    cursor: pointer;
}
.button-register, .button-register:focus {
    font-weight: 500;
    border: none;
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: rgb(0,255,0);
    margin-bottom: 20px;
}
.button-register:hover {
    border: none;
    color: rgb(0,255,0);
    background-color: #fff;
}
.button-login, .button-login:focus {
    font-weight: 500;
    border: 2px solid rgb(0,255,0);
    outline: none;
    text-decoration: none;
    color: rgb(0,255,0);
    background-color: transparent;
    margin-top: 20px;
}
.button-login:hover {
    border: 2px solid transparent;
    color: #fff;
    background-color: rgb(0,255,0);
}
.wordLine {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: #eee;
}
.contentLeft {
    position: relative;
    float: right;
    top: 80px;
    color: #fff;
}
.title {
    position: relative;
    float: right;
    font-size: 42px;
    font-weight: bold;
    color: rgb(0,255,0);
    line-height: 1.3;
}
.other {
    position: relative;
    float: right
}
.subTitle {
    position: relative;
    margin-top: 1.2em;
    font-size: 27px;
    font-weight: lighter;
    float: right;
}
.list {
    position: relative;
    margin-top: 1.5em;
    font-size: 20px;
    float: right;
}
.listText {
    color: #fff;
}

/* Login Component */
.contentContainer {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}
i {
    position: relative;
    float: left;
    right: 3px;
    padding-right: 5px;
    color: #000;
    top: 10px;
}
label {
    margin-left: 25px;
}
.inputBox {
    position: relative;
    font-size: 16px;
    right: 15px;
}
.inputBox input {
    width: 87%;
    /* margin: 0 auto; */
    padding: 10px 0;
    font-size: 16px;
    left: 0;
    font-family: "Product Sans";
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    margin-bottom: 20px;
    color: #000;
    border: none;
    border-bottom: 2px solid #444;
    outline: none;
    background-color: transparent;
    transition: .3s;
}
.inputBox input:focus {
    width: 87%;
    padding: 10px 0;
    font-size: 16px;
    left: 0;
    font-family: "Product Sans";
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    margin-bottom: 20px;
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background-color: transparent;
    transition: all .3s ease-out;
}
.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #222;
    pointer-events: none;
    transition: .3s;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -20px;
    left: .7px;
    color: #000;
    font-size: 16px;
}
.submit {
    color: #000;
    width: 95%;
    height: 40px;
    margin-top: 15px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.submit:hover {
    color: rgb(0,255,0);
    width: 95%;
    height: 40px;
    background: #000;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}
.submit:focus {
    color: rgb(0,255,0);
    width: 95%;
    height: 40px;
    background: #000;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: .3s;
}
p {
    color: #000;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
}
a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-out;
    outline: none;
}
a:hover:visited {
    color: #000;
    transition: .3s;
    text-decoration: none;
}
a:focus:visited {
    color: #000;
    outline: none;
    transition: .3s;   
    text-decoration: none;
}
a:visited
{
    color: #000;
}
.copyright {
    font-size: 12.5px;
}

@media screen and (max-width: 768px) {
    .content {
        top: 13%;
        margin-top: 30px;
    }
    .content .left {
        display: none
    }
    .content .right {
        border-left: none;
        margin-right: 10%;
        margin-top: -15px;
        width: 80%;
    }
    .wordLine {
        font-size: 13px
    }
}